body {
  overflow-x: hidden;
}
.slick-prev:before,
.slick-next:before {
  display: none;
}
.slick-dots {
  z-index: 5;
}
.slick-dots li {
  width: 40px;
}
.slick-dots li button {
  font-size: 100px !important;
}

/* .main {
  background-image: url("assets/HeroIMG.jpg");
  background-size: max(1100px, 100vw);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 100vw;
}
.main1 {
  background-image: url("assets/AnimalCover.webp");
  background-size: max(1100px, 100vw);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 100vw;
}
.main2 {
  background-image: url("assets/LoveIsBlind-Banner.webp");
  background-size: max(1100px, 100vw);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 100vw;
} */
